<div class="loader-container" [class.fade-out]="fadeOut">
    <div class="loader-content">
      <div class="book-animation">
        <div class="book">
          <div class="page"></div>
          <div class="page page-2"></div>
          <div class="page page-3"></div>
        </div>
      </div>
      <h1 class="app-title">BookMatch</h1>
      <div class="loading-text">
        <span>Cargando</span>
        <span class="dots">
          <span class="dot">.</span>
          <span class="dot">.</span>
          <span class="dot">.</span>
        </span>
      </div>
    </div>
</div>
